<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Appliance Monitor</string>
	<key>CFBundleIdentifier</key>
	<string>com.clives.indigoplugin.appliancemonitor</string>
	<key>CFBundleName</key>
	<string>ApplianceMonitor</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.4</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>GithubInfo</key>
	<dict>
		<key>GithubRepo</key>
		<string>ApplianceMonitor</string>
		<key>GithubUser</key>
		<string>Highsteads</string>
	</dict>
	<key>PluginVersion</key>
	<string>1.2.4</string>
	<key>ServerApiVersion</key>
	<string>3.0</string>
</dict>
</plist>
